body{

    background-image: url('sistemasolarprincipal.gif');
     background-size: cover; 
        background-repeat: repeat;
     background-attachment: fixed;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}
h1{
    background-color: blueviolet;
    
    padding: 15px;
    border-radius: 15px;
    color: aliceblue;
    text-align: center;
   
    

}
nav{
    text-align: left;
    background-color: rgb(0, 255, 255);
    
    border-radius: 10px;
    padding: 5px;
    width: 100px;
    font-size: 50px;
    
    
}
footer{
    background-color: aliceblue;
    color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
    
    
}
a{
    color: rgb(79, 48, 255);
    padding: 15px;
    height: 150px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ilustradadeplanetas{
    text-align: center;
}