body{
    margin: 0;
    background: radial-gradient(#000000, #000000);
    overflow: hidden;
    text-align: center;
}

.space{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle at center, #0000009d 40%, #000000, 100%);
  
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #3b9bd9;
    font-size: 30px;
    
}
button{
background-color: #992cff;
padding: 20px;
border-radius: 10px;
color: #000000;
}

.stars{
    position: absolute;
    width: 3px;
    height: 3px;
    background: white;
    border-radius: 50%;
    top: 0;
    left: 0;
    box-shadow:   50vw 10vh white,
        20vw 40vh white,
        80vw 70vh white,
        10vw 90vh white,
        90vw 20vh white,
        70vw 50vh white,
        40vw 80vh white,
        60vw 30vh white,
        30vw 60vh white,
        15vw 15vh white,
        75vw 85vh white,
        95vw 60vh white,
        5vw 50vh white,
        25vw 75vh white,
        65vw 10vh white;
        animation: twinkle 2s infinite ease-in-out alternate;
        opacity: 1;
    
}

.sun{

    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
   background: radial-gradient(circle, orange , rgb(255, 193, 22));
    
    border-radius: 60%;
    box-shadow: 0 0 80px rgb(255, 198, 83);
    z-index: 10;
}

.orbita{
 position: absolute;
 top: 50%;
 left: 50%;
 border: 1px dotted rgba(255, 255, 255, 0.2);
 border-radius: 50%;
 transform: translate(-50%, -50%);

}

.planeta{
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    border-radius: 50%;

}

.mercurio.orbita { width: 180px; height: 180px; animation: rotate 5s linear infinite;}
.venus.orbita{width: 240px; animation: rotate 8s linear infinite ;}
.terra.orbita{width: 280px; height: 280px; animation: rotate 12s linear infinite;}
.marte.orbita{width: 350px; height: 350px ; animation: rotate 30s linear infinite;}
.jupiter.orbita{width: 440px; height: 440px; animation: rotate 30s linear infinite;}
.saturno.orbita{width: 550px; height: 550px; animation: rotate 40s linear infinite;}
.urano.orbita{width: 640px; height: 640px; animation: rotate 50s linear infinite;}
.netuno.orbita{width: 700px; height: 700px; animation: rotate 60s linear infinite;}

.mercurio.planeta{width: 18px; height: 18px; background: #aaa;}
.venus.planeta{width: 25px; height: 25px; background: #db9a4f;}
.terra.planeta{width: 33px; height: 33px; background: #3b9bd9;}
.marte.planeta{width: 35px; height: 35px; background: #c1440e;}
.jupiter.planeta{width: 44px; height: 44px; background: #d9a056;}
.saturno.planeta{width: 40px; height: 40px; background: #c4d296;}
.urano.planeta{width: 36px; height: 36px; background: #6dd0d6;}
.netuno.planeta{width: 36px; height: 36px; background: #4464d6;}

@keyframes rotate{
    from {transform: translate(-50%, -50%) rotate(0deg);}
    to {transform: translate(-50%, -50%) rotate(360deg);}
}

.planeta{
    pointer-events: auto;
    cursor: pointer;
    
}

.orbita{

    pointer-events: none;
}